@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@0;1&display=swap');

#content {
    max-width: 1600px;
    margin: auto;
}

nav a {
    text-align: center;
    color:black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

h4 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#hero-msg {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    margin:auto;
    text-align: center;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.button-box {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#background {
    height: 725px;
    background-color: #99d98c;
    display: grid;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: #34a0a4;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #52b69a;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #396E94;
    color:#99d98c
}

.home-title {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.book, .join {
     background-color: #34a0a4;
     color:black;
     text-decoration: none;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #396E94;
    color:#99d98c
}

.msg {
    background-color: #34a0a4;
    line-height: 1.5em;
    padding: 35px;
    display: grid;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #52b69a;
    color:black;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.msg h2 {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: black;
}

footer a:hover {
    color: #99d98c;
}

.logo {
    width: 80px
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-image {
    width: 100%
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
} 

.card-img {
    border: 10px solid #99d98c;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width: 100%;
}

.rivers-card {
    display: grid;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    display: grid;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    display: grid;
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    display: grid;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    
}

.salmon-river {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
}

.desolation-canyon {
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 50px;
}

.grand-canyon {
    grid-column: 2/3;
    grid-row: 6/7;
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 50px;
}

img, p, h3 {
    display: inline;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
