#content {
    max-width: 1600px;
    margin: auto;
}

nav a {
    text-align: center;
    color:black;
    text-decoration: none;
}

h4 {
    color: black;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-box {
    margin:auto;
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #99d98c;
}

body {
    background-color: #34a0a4;
}

header {
    background-color: #52b69a;
}

nav a:hover {
    background-color: #396E94;
    color:#99d98c
}

.home-title {
    color:black
}

.book, .join {
     background-color: #34a0a4;
     color:black;
     text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #396E94;
    color:#99d98c
}

.msg {
    background-color: #34a0a4;
}

footer {
    background-color: #52b69a;
    color:black;
    text-decoration: none;
}

.msg h2 {
    color:black
}

.msg p {
    color: black;
}

footer a {
    color: black;
}

footer a:hover {
    color: #99d98c;
}

.logo {
    width: 80px
}

.icon {
    width: 80px
}

#hero-image {
    width: 100%
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 